.menu{
    display: flex;
    flex-direction: row;
}
.menu_item{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu_item:hover{
    background-color: white;
    text-decoration: underline;
}
.heading{
    text-align: center;
}
.novinky{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.novinka{
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;  
    border-radius: 10px;
 
}
.kontakt{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.kontakty{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.datum{
    text-align: right;
}
.img{
    width: 300px;
}
#kontakt1{
    color: firebrick;
}
#kontakt2{
    color: brown;
}
#kontakt3{
    color: coral;
}
#kontakt4{
    color: darkblue;
}
#kontakt5{
    color: darkgreen;
}
#kontakt6{
    color: darkorange;
}

#index{
    background-color: lightcyan;
}
#newsletter{
    background-color: lightgreen;
}
#aboutUs{
    background-color: lightcoral;
}